/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
  letter-spacing: 0.4px;
}
a {
  color: var(--font-color);
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s all;
}
ul {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "Montserrat", sans-serif;
}
/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/*-- container end --*/
:root {
  --theme-color: #e40000;
  --primary-color: #0d369f;
  --primary-light: #fcf1e7;
  --primary-dark: #ffc945;
  --secondary-color: #ff6e65;
  --font-color: #707070;
  --bg-color: #fff;
  --bg-color-2: #fff;
  --heading-color: #060606;
  --footer-color: #060e1f;
  --footer-cpy-color: #040a17;
  --border-radius: 30px;
  --border-radius-full: 15px;
  --border-color: transparent;
  --border-color-light: #eee;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f9f9f9;
  --bg-light: #f8f9ff;
  --bg-dark-color: #fff;
  --quote-text-color: #1d2c4c;
  --paceholder-color-search: #6c757d;
  --bg-color-li: rgb(13 54 159 / 9%);
  --box-shadow-color: rgb(4 20 69 / 10%);
  --logo-color: #0d369f;
}
.noscroll {
  overflow: hidden;
  height: 100vh;
}
/* global css */
/* top-header */
.top-header {
  background: var(--primary-color);
  padding: 14px 30px;
}
.top-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header__content li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
}
.top-header__content li:last-child {
  margin-right: 0;
}
.top-header__content li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.top-header__content li a:hover {
  color: var(--secondary-color);
}
.top-header__left li i {
  color: #fff;
  margin-right: 8px;
}

/* top-header end */

/* header */
header {
  background-color: transparent;
  padding: 0 15px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed__top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.nav-fixed {
  z-index: 999 !important;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
}
header.nav-fixed .header__container {
  padding: 0.5rem 1rem;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}
.header__logo a {
  display: flex;
  align-items: center;
}
.header__logo a {
  font-size: 26px;
  color: var(--logo-color);
  font-weight: 600;
}
.header__logo img {
  margin-right: 0.25rem;
}
.header__navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar__nav {
  display: flex !important;
  align-items: center;
}
.navbar__nav ul {
  display: flex;
  align-items: center;
}
.navbar__nav ul li {
  list-style: none;
  padding: 0 12px;
  transition: all 0.5s ease;
}
.navbar__nav ul li a {
  padding: 6px 0;
  font-size: 16px;
  color: var(--heading-color);
  font-weight: 600;
}
.navbar__nav ul li.active a,
.navbar__nav ul li a:hover {
  color: var(--secondary-color);
}
.navbar__nav ul li a i {
  font-size: 10px;
}
.navbar__search form {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px;
}
.navbar__search input {
  font-size: 15px;
  color: var(--heading-color);
  background: transparent;
  padding: 10px 35px 10px 14px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
.navbar__search button.search-btn {
  position: absolute;
  color: var(--primary-color);
  right: 0;
  padding: 8px 12px 8px 2px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navbar__search button.search-btn i {
  font-size: 15px;
}
.navbar__search button.search-btn:hover,
.navbar__toggle__switch .moon-icon:hover {
  color: var(--secondary-color);
}
.navbar__toggle__switch .switch__container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: var(--primary-color);
}
.navbar__toggle__switch .moon-icon {
  display: block;
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s;
}
.navbar__toggle__switch .moon-icon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  border-radius: 50%;
  display: block;
}
.navbar-toggler {
  padding: 0;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: 1;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: none;
}
.navbar__collape__icon {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
  background: var(--primary-color);
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  .navbar__nav ul li a {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 991px) {
  .top-header {
    display: none;
  }

  header {
    height: auto;
    background: var(--bg-color);
  }
  .fixed__top {
    position: fixed;
  }
  .header__container {
    padding: 0.5rem 0;
    flex-basis: 100%;
  }
  .header__navbar {
    flex-basis: 100%;
  }
  .navbar-toggler {
    display: block;
  }
  .collapse:not(.show) {
    display: none !important;
  }
  .navbar__nav {
    flex-basis: 100%;
  }
  .navbar__nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    box-shadow: 0 6px 19px rgb(0 0 0 / 5%);
  }
  .navbar__nav ul li {
    padding: 8px 0;
  }

  button.navbar-toggler .icon-close {
    display: block;
  }

  button.navbar-toggler .icon-expand {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-close {
    display: none;
  }

  button.navbar-toggler.collapsed .icon-expand {
    display: block;
  }
  .navbar__toggle__switch {
    position: absolute;
    right: 80px;
    top: 25px;
  }
}
/* header end */
/* carousel slider */
.carousel__slider__item {
  background: url(../studious-images/banner2.jpg) no-repeat top right;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
  min-height: 90vh;
}
.bgimg__item {
  background: url(../studious-images/banner3.jpg) no-repeat center right;
}
.carousel__slider__item::before {
  content: "";
  background: linear-gradient(
    75deg,
    rgb(16 16 16 / 34%) 10%,
    rgb(230 2 100 / 0%)
  );
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.slider__info {
  max-width: 600px;
}
.slider__info h5 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
}
.btn__style {
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  transition: all 0.25s ease-in-out;
}
.btn__style:hover {
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
}
.slider__info h5 {
  margin-bottom: 4.5rem;
}
.owl-nav {
  display: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 2px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: relative;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  right: 24px;
  bottom: 120px;
  background: none;
}
.owl-theme .owl-dots .owl-dot {
  display: block !important;
  margin-top: 4px;
}
/* carousel slider end */
/* banner */
.banner {
  padding-bottom: 3rem;
  margin-top: -4rem;
}
.banner__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.banner__item {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  text-align: center;
}
.banner__item i {
  font-size: 45px;
  color: #fff;
}
.banner__item h4 a {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.banner__item h4 a:hover {
  color: #000;
}
.color_1 {
  background-color: #037ef3;
}
.color_2 {
  background-color: #ffc949;
}
.color_3 {
  background-color: #ff4f81;
}
.color_4 {
  background-color: #1ee697;
}
@media screen and (max-width: 1200px) {
  .slider__info h5 {
    font-size: 57px;
    line-height: 67px;
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 992px) {
  .slider__info h5 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 2.5rem;
  }
  .banner__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .slider__info h5 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 1.5rem;
  }
  .banner__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

/* banner end */
/* welcome */
.welcome {
  padding: 6rem 0;
}
.welcome__content {
  text-align: center;
}
.welcome__title {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}
h3.title_main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  text-align: center;
}
h3.title_main span {
  color: var(--secondary-color);
}
h3.title_main:before,
h3.title_main:after {
  content: "";
  background: var(--font-color);
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}
h3.title_main:before {
  left: -20px;
  bottom: -8px;
}
h3.title_main:after {
  left: 20px;
  bottom: -15px;
}
.welcome__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.welcome__item i {
  color: var(--primary-color);
  font-size: 30px;
  background: var(--bg-color-li);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
.welcome__item h3 a {
  color: var(--heading-color);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 15px;
}
.welcome__item h3 a:hover {
  color: var(--secondary-color);
}
@media screen and (max-width: 992px) {
  .welcome__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
}
/* welcome end */
/* course section */
.course {
  background: var(--bg-light);
  padding: 6rem 0;
}
.course__title {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}

.course__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.card__img {
  position: relative;
}
.card__img img {
  display: block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.meta_list {
  position: absolute;
  left: 30px;
  top: 15px;
}
.meta_list a {
  background: #1dc295;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  color: #ffffff !important;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
}
.meta_list a:nth-child(odd) {
  background-color: #ffa100;
}
.meta_list a:nth-child(3) {
  background: #037ef3;
}
.course_price {
  position: absolute;
  right: 25px;
  bottom: -25px;
}
.course_price h6 {
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: var(--secondary-color);
  color: #ffffff;
  box-shadow: 0px 8px 20px rgb(241 77 93 / 20%);
  min-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__content {
  padding: 20px;
  border: 1px solid var(--border-color-light);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-color-2);
}
.content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.content__top p {
  color: var(--heading-color);
}
.content__top i {
  color: var(--secondary-color);
}
.card__content h4 a {
  color: var(--heading-color);
  font-size: 22px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}
.card__footer {
  border-top: 1px solid var(--border-color-light);
  padding-top: 1.5rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__footer ul li {
  list-style: none;
  display: inline-block;
}
.card__footer ul li a {
  color: #ffc949;
  font-size: 15px;
}
.card__footer .know_detail_btn a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}
.card__footer .know_detail_btn a:hover {
  color: var(--primary-color);
}
.course__btn {
  text-align: center;
  margin-top: 4.5rem;
}
.course__btn a {
  text-align: center;
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}
.course__btn a:hover {
  background: var(--primary-color);
}
@media screen and (max-width: 992px) {
  .course__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .course__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
}
/* course section end */
/* service section */
.service {
  background: url(../studious-images/bg3.jpg) no-repeat bottom;
  background-size: cover;
  padding: 3rem 0;
}
.service__content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.service__left {
  width: 33.33%;
}
.service__right {
  width: 66.67%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.service__item {
  background: var(--bg-color);
  padding: 30px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.service__icon {
  margin-right: 1rem;
}
.service__icon i {
  color: var(--primary-color);
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}
.service__info h5 {
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 6px;
}
@media screen and (max-width: 1200px) {
  .service__right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .service__right {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
/* service section end */
/* stat section  */
.stat {
  padding: 3rem 0;
}
.stat__content {
  text-align: center;
  padding: 3rem 0;
}
.stat__title {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}
.stat__title p {
  padding-top: 0.5rem;
  margin-top: 1.5rem;
}
.stat__number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.number__item {
  border-right: 1px solid var(--border-color-light);
}
.number__item span {
  font-size: 46px;
  font-weight: 600;
  color: var(--heading-color);
}
.number__item p {
  text-transform: uppercase;
  color: var(--heading-color);
}
@media screen and (max-width: 992px) {
  .stat__number {
    grid-template-columns: 1fr 1fr;
  }
  .number__item span {
    font-size: 35px;
  }
  .number__item {
    border-right: none;
  }
  .stat__content {
    padding: 1.5rem 0;
  }
  .stat {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .stat__number {
    grid-template-columns: 1fr;
  }
}
/* stat section end */
/* testimonial section  */
.testimonial {
  padding: 3rem 0;
}
.testimonial__content {
  padding: 3rem 0;
}
.testimonial__title {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.testimonial__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.testimonial__item {
  background: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 2rem;
}
.testimonial__item q::before {
  font-size: 50px;
  color: var(--secondary-color);
  font-family: initial;
  line-height: 0.8;
  padding-top: 8px;
  display: inline-block;
}
.grid_author {
  display: flex;
  align-items: center;
}
.img_author img {
  border-radius: 50%;
  margin-right: 13px;
}
.info_author h5 {
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 0;
}
.info_author p {
  font-size: 13px;
  color: var(--font-color);
}
@media screen and (max-width: 992px) {
  .testimonial__grid {
    grid-template-columns: 1fr;
  }
}
/* testimonial section end */
/* instructor section */
.instructor {
  padding: 3rem 0;
}
.instructor__content {
  padding: 3rem 0;
  text-align: center;
}
.instructor__title {
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
}
.instructor__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.instructor__card__container {
  box-shadow: 0 20px 62px var(--box-shadow-color);
  padding: 10px;
  background: var(--bg-color-2);
  border-radius: 8px;
}
.instructor__card__img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.instructor__card__img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.instructor__contact {
  position: absolute;
  bottom: -227px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  width: 100%;
  text-align: center;
}
.instructor__contact a {
  background: #fff;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
}
.instructor__contact a i {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 28px;
}
.instructor__card__container:hover .instructor__contact {
  bottom: 0;
}
.instructor__card__container:hover .instructor__info h5 a {
  font-weight: 600;
  color: var(--secondary-color);
}
.instructor__info {
  padding: 1.5rem;
}
.instructor__info h5 a {
  font-weight: 600;
  color: var(--heading-color);
}
.instructor__info p {
  font-size: 80%;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  .instructor__content {
    grid-template-columns: 1fr 1fr;
  }
  .instructor__content {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .instructor__content {
    grid-template-columns: 1fr;
  }
}
/* instructor section end*/
/* about section */
.about__img img {
  display: block;
  margin: auto !important;
}
.about__text h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 1rem;
}
.about__btn {
  margin-top: 1.5rem;
}
.about__btn a {
  background: var(--secondary-color);
  color: #fff;
  transition: 0.3s ease-out;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  display: inline-block;
}
/* about section end */
/* footer section */
.footer__container {
  padding: 80px 0;
  background: #060e1f;
}
.footer__content {
  margin-top: 120px;
}
.footer__subscribe {
  padding: 45px;
  max-width: 1010px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.subs__text h4 {
  font-size: 35px;
  line-height: 40px;
  color: var(--heading-color);
  font-weight: 600;
}
.subs__text p {
  font-size: 15px;
  color: var(--font-color);
  letter-spacing: 1px;
}
.subs__form form {
  display: flex;
}
.subs__form form input {
  background: transparent;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--heading-color);
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  border: 1px solid var(--border-color-light);
}
.subs__form form .btn__subs {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  transition: 0.3s;
}
.subs__form form .btn__subs:hover {
  opacity: 0.9;
}
.columns__item h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}
.columns__item ul li {
  list-style: none;
}
.columns__item ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
}
.columns__item i {
  margin-right: 0.5rem;
  color: #fff;
  font-size: 10px;
}
.column__3 i {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}
.column__3 ul li a {
  line-height: 25px;
  font-size: 15px;
}
.social li {
  margin-right: 5px;
  display: inline-block;
}
.social li a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
.social li a:hover {
  opacity: 0.8;
}
.social li a i {
  font-size: 15px;
  line-height: 35px;
  margin-right: 0;
}
.column__4 p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}
.column__4 {
  border-left: 1px solid rgb(64 73 82 / 51%);
}
@media screen and (max-width: 991px) {
  .footer__subscribe {
    margin: 0 2em;
  }
}
@media screen and (max-width: 768px) {
  .footer__subscribe {
    margin: 0 1em;
    top: -105px;
  }
  .footer__container {
    padding: 40px 0;
  }
}

/* footer section end */
/* copyright */
.copyright {
  background: #040a17;
  padding: 20px 0;
}
.copyright p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}
/* copyright end */
